<p id="notice"><%= notice %></p>

<h1>Actlogs</h1>


  <div class="btn-group" role="group" aria-label="header">
  <tr>
    <th>
      <button type="button" class="btn btn-default">
        <%= link_to 'ログ追加', new_category_actlog_path %>
      </button>
    </th>
    <th>
      <button type="button" class="btn btn-default">
        カテゴリ追加
      </button>
    </th>
    <th>
      <button type="button" class="btn btn-default">
        <%= link_to 'カテゴリ集計' %>
      </button>
    </th>
  </tr>
  </div>

  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    年月
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">2018年10月</a></li>
  </ul>
  </div>

  <div class="container">
    <div class="table-responsive">
    <table class="table">    
      <thead>
        <tr>
          <th>日付</th>
          <th>カテゴリ</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>時間</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @category.each do |c| %>
          <% c.actlogs.each do |actlog| %>
          <tr>
            <td><%= actlog.date %></td>
            <td><%= c.name %></td>
            <td><%= actlog.starttime %></td>
            <td><%= actlog.endtime %></td>
            <td><%= actlog.time %></td>
            <td>
              <button type="button" class="btn btn-success">
                <%= link_to '編集' %></td>
              </button>
            <td>
              <button type="button" class="btn btn-danger">
                <%= link_to '削除' %>
              </button>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>


