<p id="notice"><%= notice %></p>

<h1>行動ログ一覧</h1>


  <div class="btn-group" role="group" aria-label="header">
  <tr>
    <th>
      <%= link_to 'ログ追加', new_actlog_path, class: 'btn btn-default' %>
    </th>
    <th>
      <%= link_to 'カテゴリ追加', new_category_path, class: 'btn btn-default' %>
    </th>
  </tr>
  </div>

  

  <div class="container">
    <div class="table-responsive">
    <table class="table">    
      <thead>
        <tr class="table-active">
          <th>日付</th>
          <th>カテゴリ</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>時間</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @category.each do |c| %>
          <% c.actlogs.each do |actlog| %>
          <tr>
            <td><%= actlog.date %></td>
            <td><%= c.name %></td>
            <td><%= actlog.starttime %></td>
            <td><%= actlog.endtime %></td>
            <td><%= actlog.time %></td>
            <td>
              <button type="button" class="btn btn-success">
                <%= link_to '編集', edit_actlog_path(actlog) %></td>
              </button>
            <td>
              <button type="button" class="btn btn-danger">
                <%= link_to '削除', actlog, method: :delete, data: { confirm: '本当に削除しますか？'} %>
              </button>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>


